#trade-summary {
  .transaction-icons {
    .receive-icon-container {
      width: 55px;
      transform: translateX(-16px);
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
    }
    img.duplicate {
      filter: invert(50%) brightness(33%) contrast(100%);
      position: absolute;
      top: -6px;
      left: -1px;
      z-index: -1;
    }
  }
  
  .trade-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--ion-color-medium);
  
    .trade-divider {
      font-size: 34px;
    }
  
    .trade-item {
      display: flex;
      flex-direction: column;
      flex: 1;
      .name {
        font-size: 24px;
        font-family: var(--ion-font-main);
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
          @media (max-width: 320px) {
            margin-right: 5px;
          }
        }
      }
      .trade-price {
        font-family: var(--ion-font-sub);
        font-size: var(--ion-font-size-main);
        margin-top: 2px;
      }
      &.trade-item:nth-child(3) {
        align-items: flex-end;
      }
    }
  }
  
  .transaction-info {
    padding-top: 15px;
    color: var(--ion-color-tertiary);
    span {
      font-size: var(--ion-font-size-sub);
      font-family: var(--ion-font-sub-heading);
    }
    .transaction-info-date {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    .transaction-info-values {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 5px;
      .transaction-col-name {
        flex: 10%;
        white-space: nowrap;
        margin-right: 8px;
      }
      .transaction-col-value {
        flex: 90%;
        word-break: break-all;
      }
      .transaction-col-value.pending {
        display: flex;
        flex-direction: row;
        align-items: center;
        ion-text {
          margin-right: 5px;
        }
      }
    }
  }
}
