.word-list-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  .word-row {
    align-items: center;
    display: flex;
    margin-top: 14px;
    .word-index {
      color: #ffffff;
      position: absolute;
      margin-left: 20%;
    }
    .word {
      margin: 0 auto;
      color: var(--ion-color-secondary);
      font-family: var(--ion-font-heading);
    }
  }
}
