@import "../../theme/variables.scss";

.login {
  .buttons {
    margin-top: 32px;
  }
}

.terms {
  display: block;
}

.terms {
  font-family: "DMSans";
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  input {
    position: absolute;
    opacity: 0;
  }
  input:checked + .custom-check{
    .check-icon svg{
      display: block;
    }
  }
  .custom-check {
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-right: 8px;
    .check-icon svg{
      width: 20px;
      height: 20px;
      margin-left: 2px;
      fill: rgb(15, 255, 0);
      display: none;
    }
  }
  a {
    color: #fff;
    display: inline-block;
    margin-left: 5px;
  }
}
