ion-tab-bar {
  height: 70px;
  .tab-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .tab-icon {
      fill: var(--ion-color-tertiary);
      &.active {
        fill: var(--ion-color-secondary);
      }
    }
  }
  ion-tab-button:nth-child(1) .tab-icon.active,
  ion-tab-button:nth-child(3) .tab-icon.active {
    filter: drop-shadow(0 0 9px rgb(15, 255, 0))
      drop-shadow(0px 0px 20px #0fff00);
  }
  ion-tab-button:nth-child(2) .tab-icon.active {
    filter: drop-shadow(0px 0px 5px #0fff00)
      drop-shadow(0 0 9px rgb(15, 255, 0)) drop-shadow(0 0 20px rgb(15, 255, 0));
  }
}
