ion-button {
  width: 100%;
  border-radius: 35px;
  --border-radius: 35px;
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --background-hover-opacity: 1;
  font-family: var(--ion-font-heading);
  font-size: var(--ion-font-size-main);
  text-transform: uppercase;
}

ion-button.main-button {
  --background: var(--ion-color-secondary-transparent);
  --box-shadow: none;
  --padding-top: 21px;
  --padding-bottom: 21px;
  --padding-start: 21px;
  --padding-end: 21px;
  --color: var(--ion-color-secondary);
  border: 2px solid var(--ion-color-secondary);
  height: 60px;
  @media (max-width: 320px) {
    height: 52px;
  }
  &.button-disabled {
    --background: transparent;
    --color: var(--ion-color-medium);
    border: 2px solid var(--ion-color-medium);
  }
}

ion-button.sub-button {
  --background: none;
  --border: 0;
  --color: #ffffff;
  --box-shadow: none;
  border: 0;
  height: 35px;
  margin-top: 15px;
}

// Button styled as a link
ion-button.button-link {
  --background: transparent;
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --padding-start: 3px;
  --padding-end: 3px;
  color: var(--ion-text-color);
  font-family: var(--ion-font-main);
  text-decoration: underline;
  text-transform: none;
}
