ion-toast {
  --border-radius: 8px;
  font-family: var(--ion-font-sub);
  font-size: var(--ion-font-size-sub-l);

  &.claim::part(container) {
    border-radius: 5px;
    padding-right: 2vw;
  }

  &.claim::part(toast-button-claim) {
    background-color: var(--ion-color-primary);
    border-radius: 5px;
    color: var(--ion-color-secondary);
    font-size: var(--ion-font-size-sub);
    border: 2px solid var(--ion-color-primary);
  }

  &.claim::part(toast-content) {
    padding-left: 4vw;
    padding-right: 2vw;
  }

  &.claim::part(toast-button-group-end) {
    margin: 0;
    margin-inline-end: 0;
  }
}

/* Shitty hack to stack toast messages */
/* https://github.com/ionic-team/ionic-framework/issues/20389 */
.ion-toast-2 {
  transform: translateY(70px) !important;
}

.ion-toast-3 {
  transform: translateY(150px) !important;
}
