ion-item {
  --border: 0;
  --background: var(--ion-color-primary);
  border-radius: 8px;
  --color: var(--ion-text-color);
  --min-height: auto;
  --padding-start: 17px;
  --padding-end: 17px;
  --padding-top: 17px;
  --padding-bottom: 17px;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
  --border-style: none;
  margin: 6px 0;
  &.input {
    --padding-top: 5px;
    --padding-bottom: 5px;
  }
}
