.ticker {
  font-size: x-large;
}

.amount-input {
  font-family: var(--ion-font-sub);
  color: #fff;
  &::placeholder {
    color: #666666;
  }
}

.exchanger-row {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.error {
  color: var(--ion-color-danger);
}
