@import '../../theme/variables';

.ticker {
  font-size: x-large;
}

.amount-input {
  font-family: $sub-font;
  color: #fff;
  &::placeholder {
    color: #666666;
  }
}

.exchanger-row {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
