.circle-total-balance {
  background: linear-gradient(
    100deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  );
  border-radius: 50%;
  width: 60vw;
  height: 60vw;
  div {
    display: flex;
    position: relative;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 50vw;
    background: linear-gradient(100deg, black 0%, rgba(51, 51, 51, 1) 100%);
    border-radius: 50%;

    img {
      position: absolute;
      z-index: -1;
    }

    ion-row:nth-child(1) {
      font-family: var(--ion-font-heading);
      font-size: var(--ion-font-size-main);
      color: var(--ion-color-medium);
    }
    ion-row:nth-child(2) {
      font-family: var(--ion-font-sub);
      font-size: var(--ion-font-size-md);
      color: var(--ion-color-tertiary-tint);
    }
    ion-row:nth-child(3) {
      font-family: var(--ion-font-sub);
      font-size: var(--ion-font-size-main);
      color: var(--ion-color-medium);
      margin-bottom: 4px;
    }
    ion-row:nth-child(4) {
      font-family: var(--ion-font-sub-heading);
      font-size: var(--ion-font-size-sub);
      color: var(--ion-color-tertiary);
    }
  }
}

// Rotate shadow without inner content
.circle-total-balance:before {
  content: '';
  position: absolute;
  animation: rotation 6s infinite linear;
  border-radius: 50%;
  width: 60vw;
  height: 60vw;
  box-shadow: 6px 6px 9px -4px rgba(15, 255, 1, 0.6);

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
