.account {
  .item-main-info {
    align-items: start;
  }
  .item-start {
    flex-direction: column;
    align-items: start !important;
    padding: 0 5px 0 10px;
    .main-row {
      font-family: var(--ion-font-heading);
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 7px;
    }
    .description {
      font-size: 14px;
      line-height: 21px;
      color: #c6c6c6;
    }
  }
  ion-item {
    --inner-padding-end: 0;
  }
  ion-icon {
    font-size: 24px;
  }
}
