.search-content {
  ion-item {
    cursor: pointer;

    .search-item-name {
      .icon-wrapper {
        margin-right: .5em;
      }
    }

    .search-item-amount {
      font-family: 'DMMono';

      .price-equivalent {
        display: inline-block;
        font-size: 1.4em;
        margin-right: .5em;
      }
    }
  }
}
