#terms, #terms-modal {
  ol {
    padding-inline-start: 30px;
  }

  ol li {
    margin-bottom: 20px;
  }

  ol[type='a'] {
    margin-top: 5px;
    li {
      margin-bottom: 15px;
    }
  }

  ol[type='i'] {
    margin-top: 5px;
    li {
      margin-bottom: 10px;
    }
  }
}
