#qr-scanner {
  ion-header {
    margin-bottom: 10vh;
  }
  .scan-box {
    border: 2px solid #ffffff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    height: 70vw;
    width: 70vw;
    margin: 0 auto;
  }
  ion-button.sub-button {
    --color: var(--ion-color-secondary);
    --ripple-color: rgba(255, 255, 255, 0.5);
  }
}
