@import '../../theme/variables';

.qr-scanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin: 0;

  .rect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
    .rect-border {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgba(255, 255, 255, 0.692);
      border-radius: 2px;
      display: block;
      width: 80%;
      height: 80%;
    }
  }

  .btn-container {
    text-align: center;
  }

  .cancel-btn {
    --background: transparent;
    color: $light-green-color;
  }
}
.semitransparent {
  background: transparent;
}
