@import '../../theme/variables';

.exchange-header {
  background: rgb(51, 51, 51);
}

.exchange {
  .exchange-coin-container:nth-child(3) {
    background: transparent;
  }
}

.exchange-content {
  --padding-start: 0;
  --padding-end: 0;
}

.exchange-divider {
  transition: all 800ms ease-in-out;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #000;
  top: 170px;
  left: calc(50vw - 17px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-height: 700px) {
    top: 110px;
  }

  .swap-btn {
    font-size: 18px;
    color: rgb(15, 255, 0);
  }
}

.light {
  .exchange-header {
    background: transparent;
  }
  .exchange-divider {
    background: #fff;
    border: 1px solid #f4f4f4;
  }
}

.market-provider {
  margin-top: 2%;
  text-align: center;
  .trade-info {
    margin-top: 2%;
    text-align: center;
    font-size: small;
    color: rgba(245, 245, 245, 0.774);

    .provider-info {
      font-style: italic;
      font-weight: 500;
    }
  }
}
