#exchange-page {
  /* Top half of the screen is light grey */
  ion-header {
    background: var(--ion-color-primary);
  }
  .exchange-coin-container:nth-child(1) {
    background: var(--ion-color-primary);
  }
  .refresher-active,
  .refresher-refreshing {
    background: var(--ion-color-primary);
  }

  .exchange-divider {
    transition: all 800ms ease-in-out;
    display: flex;
    img {
      margin-top: -16px;
      position: absolute;
      left: calc(50vw - 17px);
      z-index: 2;
      background: rgba(15, 255, 0, 0.12);
      width: 32px;
      height: 32px;
      padding: 5px;
      border: rgb(15, 255, 0) 1px solid;
      border-radius: 50%;
    }
  }

  .market-provider {
    .trade-info {
      font-size: small;
      color: rgba(245, 245, 245, 0.774);
      .provider-info {
        font-style: italic;
        font-weight: 500;
      }
    }
  }
}
