#receive-page {
  .page-description {
    margin-bottom: 4vh;
  }
  .addr-container {
    &__margin-top {
      margin-top: 8vh;
    }
    .qr-code-container {
      padding: 20px;
      background: #fff;
      border-radius: 8px;
      margin-bottom: 4vh;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
