.exchange-coin-container {
  &:nth-child(3):before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: calc(50% - 16px);
    border-top: 1px solid rgb(15, 255, 0);
  }
  &:nth-child(3):after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 1px;
    width: calc(50% - 16px);
    border-top: 1px solid rgb(15, 255, 0);
  }
  position: relative;
  @media (max-height: 700px) {
    padding: 32px 24px;
  }
  padding: 54px 24px;
  color: #fff;
  .exchanger-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &.sub-row .balance {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    &.sub-row > span:nth-child(2) {
      flex: 1;
    }
    &.sub-row span {
      font-family: var(--ion-font-sub-heading);
      font-size: var(--ion-font-size-sub);
      color: rgb(198, 198, 198);
    }
  }

  .coin-name {
    cursor: pointer;
    font-family: var(--ion-font-main);
    font-size: var(--ion-font-size-l);
    display: flex;
    align-items: center;
    .icon-wrapper {
      width: 24px;
      margin-right: 10px;
    }
    ion-icon {
      width: 40px;
      height: 20px;
    }
  }

  .coin-amount {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    --background: none;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    font-family: var(--ion-font-sub);
    font-size: var(--ion-font-size-l);
    color: rgb(102, 102, 102);

    &.active {
      color: #fff;
    }

    .icon-wrapper {
      min-width: 24px;
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    ion-input {
      --padding-bottom: 0;
      --padding-end: 0;
      --padding-start: 0;
      --padding-top: 0;
    }
  }
}

.light {
  .exchange-coin-container {
    background: #fff;
    color: #000;

    .exchanger-row {
      &.sub-row {
        color: rgb(144, 144, 144);
      }
    }

    .icon-wrapper {
      width: 28px;
      height: 28px;
      margin-right: 8px;
    }

    .coin-amount {
      --background: none;
      background: none;
      --padding-top: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --padding-end: 0;
      --inner-padding-end: 0;
      font-family: var(--ion-font-sub);
      font-size: var(--ion-font-size-l);
      color: rgb(102, 102, 102);

      &.active {
        color: #000;
      }
    }
  }
}

.spinner {
  opacity: 0;
  height: 10px;
  padding-right: 20px;
  transition: all 50ms ease-in-out;
  &.visible {
    opacity: 1;
  }
}

.icon {
  margin-left: 10px;
  width: 20px;
}
