.settings {
  --overflow: auto;
  .item-end {
    align-items: center;
  }
  .green-label {
    font-family: var(--tdex-font-main);
    color: var(--ion-color-secondary);
    font-size: 14px;
    line-height: 16px;
    display: inline-block;

    &.chosen-currency {
      margin-right: 17px;
    }

    &.chosen-theme {
      text-transform: capitalize;
      margin-right: 10px;
    }
  }

  .settings-toggle {
    width: 35px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 35px;
    padding: 0 2px;
    --handle-background: transparent;
    --handle-background-checked: transparent;
    --handle-border: 2px solid #fff;
    --handle-border-radius: 50%;
    --handle-box-shadow: 0 0 0 2px #fff;
    --handle-width: 12px;
    --handle-height: 12px;
    --handle-spacing: 4px;
    --background-checked: transparent;
    --background: transparent;
  }
}

.light {
  .settings {
    .settings-toggle {
      width: 35px;
      height: 19px;
      border: 2px solid #333;
      border-radius: 35px;
      padding: 0 2px;
      --handle-background: transparent;
      --handle-background-checked: transparent;
      --handle-border: 2px solid #333;
      --handle-border-radius: 50%;
      --handle-box-shadow: 0 0 0 2px #333;
      --handle-width: 12px;
      --handle-height: 12px;
      --handle-spacing: 4px;
      --background-checked: transparent;
      --background: transparent;
    }
    .green-label {
      color: var(--ion-color-secondary);
    }
  }
}

.explorer-input {
  text-align: center;
  color: #fff;
  margin: 30px 0;
}

.app-version {
  margin: 2%;
  width: 95%;
  text-align: right;
  color: rgb(117, 115, 115);
  font-size: small;
  font-style: italic;
}
