#settings {
  ion-icon {
    width: 18px;
  }
  
  .green-label {
    font-family: var(--ion-font-main);
    color: var(--ion-color-secondary);
    font-size: 14px;
    line-height: 16px;
    display: inline-block;

    &.chosen-currency {
      margin-right: 17px;
    }

    &.chosen-theme {
      text-transform: capitalize;
      margin-right: 10px;
    }
  }

  .settings-toggle {
    width: 35px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 35px;
    padding: 0 2px;
    --handle-background: transparent;
    --handle-background-checked: transparent;
    --handle-border: 2px solid #fff;
    --handle-border-radius: 50%;
    --handle-box-shadow: 0 0 0 2px #fff;
    --handle-width: 12px;
    --handle-height: 12px;
    --handle-spacing: 4px;
    --background-checked: transparent;
    --background: transparent;
  }
}

.app-version {
  margin: 2%;
  width: 95%;
  text-align: right;
  color: var(--ion-color-medium);
  font-family: var(--ion-font-sub);
  font-size: var(--ion-font-size-sub);
  font-style: italic;
}
