@font-face {
  font-family: 'DMSans';
  src: url('../assets/fonts/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'DMSans-Bold';
  src: url('../assets/fonts/DMSans-Bold.ttf');
}

@font-face {
  font-family: 'DMMono';
  src: url('../assets/fonts/DMMono-Regular.ttf');
}

@font-face {
  font-family: 'DMMono-Medium';
  src: url('../assets/fonts/DMMono-Medium.ttf');
}
