/* HTML Tags */
h1,
h2,
h3 {
  font-family: var(--ion-font-heading);
}

h2 {
  font-size: var(--ion-font-size-md);
}

p {
  font-family: var(--ion-font-main);
  font-size: var(--ion-font-size-main);
  line-height: 1.5rem;
}

ol,
li {
  font-family: var(--ion-font-main);
  font-size: var(--ion-font-size-main);
}

a,
span {
  color: var(--ion-text-color);
  font-family: var(--ion-font-main);
}

/* Utility Classes */
.ion-margin-vertical-x2 {
  margin-bottom: 32px;
  margin-top: 32px;
}

.bg-transparent {
  --ion-background-color: transparent !important;
}

.ml-05 {
  margin-left: 2px;
}

.vertical-middle {
  vertical-align: middle !important
}