@import './variables.scss';
@import './components/exchange-coin-block.scss';
@import './components/search.scss';
@import './components/mainButtons.scss';
@import './components/listItem.scss';
@import './components/icons.scss';

body {
  font-family: 'DMSans';
  background-color: #333333;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ion-modal {
  .modal-wrapper {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    position: absolute;
    bottom: 0;
  }
  .modal-shadow {
    z-index: -1 !important;
  }
}

.modal-big {
  .modal-wrapper {
    height: 99vh !important;
  }

  .page-description {
    margin-top: 16px;
    p {
      width: 186px !important;
    }
  }
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --background: transparent !important;
}

ion-title {
  font-family: 'DMSans-Bold';
  --color: #fff;
  font-size: 22px;
  text-align: center;
}

.with-back-button {
  ion-button, ion-back-button {
    position: absolute;
    font-size: 14px;
    color: rgb(198, 198, 198);
  }
  ion-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(198, 198, 198);
  }
}

ion-toolbar {
  --background: rgba(0, 0, 0, 0);
}

ion-item {
  --background: rgba(0, 0, 0, 0);
}

.light {
  .gradient-background {
    background: rgb(244, 244, 244);
  }
  ion-title {
    color: #000;
  }

  ion-list ion-item {
    background: rgba(255, 255, 255, 1);
  }
  .with-back-button {
    ion-button {
      color: #000;

      svg {
        fill: rgb(0, 0, 0);
      }
    }
  }
  ion-input {
    color: #000;
  }
}
