body {
  font-family: var(--ion-font-main);
}

h1,
h2,
h3 {
  font-family: var(--ion-font-heading);
}

p {
  line-height: 1.75rem;
}

.ion-margin-vertical-x2 {
  margin-bottom: 32px;
  margin-top: 32px;
}

ion-modal {
  .modal-wrapper {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    position: absolute;
    bottom: 0;
  }
  .modal-shadow {
    z-index: -1 !important;
  }
}

.modal-big {
  .modal-wrapper {
    height: 99vh !important;
    width: 100%;
  }
}
