#homescreen {
  background: linear-gradient(to top, rgb(2, 18, 0) 35%, rgb(0, 122, 22));
  
  ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    .img-container {
      margin-top: 30%;
      img {
        width: 100%;
      }
    }
    .btn-container {
      margin-bottom: 30%;
    }
  }
}
