.logo {
  display: block;
  margin: auto;
  margin-top: 145px;
}

.main-page-buttons-bar {
  position: fixed;
  bottom: 65px;
  left: 0;
}

.buttons.homescreen {
  position: fixed;
  bottom: 65px;
  left: 0;
}