ion-header {
  .back-button {
    ion-button,
    ion-back-button {
      color: var(--ion-color-tertiary);
      --color: var(--ion-color-tertiary);
      position: absolute;
      left: 0;
      width: 30px;
    }
  }
  .close-button {
    ion-button,
    ion-back-button {
      color: var(--ion-color-tertiary);
      --color: var(--ion-color-tertiary);
      position: absolute;
      right: 0;
      width: 30px;
    }
    ion-button.custom-right-button {
      filter: brightness(65%);
      position: absolute;
      right: 0;
      width: 65px;
      @media (max-width: 320px) {
        width: 55px;
      }
    }
  }
  ion-title {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--ion-font-size-main);
    font-family: var(--ion-font-heading);
    color: rgb(198, 198, 198);
    &.title-large {
      text-transform: capitalize;
      font-size: var(--ion-font-size-md);
      color: #ffffff;
    }
  }
}
