.icon-wrapper {
  display: inline-flex;
  width: 13px;
  height: 13px;
  &.with-border {
    box-sizing: content-box;
    border: 1px solid #333333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    left: -5px;
  }

  &.large {
    width: 46px;
    height: 46px;
    &.with-border {
      left: -15px;
      border-width: 4px;
    }
  }

  &.medium {
    width: 24px;
    height: 24px;
    &.with-border {
      left: -10px;
    }
  }
}