.info-wrapper .item-main-info,
.item-main-info {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .item-start {
    display: flex;
    flex: 1;
    min-height: 30px;

    .item-name {
      margin-left: 8px;
    }

    img {
      height: 24px;
      margin-right: 10px;
      width: 24px;
    }
  }

  .item-end {
    display: flex;

    .first-col {
      text-align: right;
      margin-right: 8px;

      .main-row {
        font-family: var(--ion-font-sub);
        line-height: 1;
      }
    }

    .second-col {
      display: flex;
      flex-direction: column;
    }
  }

  .main-row {
    font-family: var(--ion-font-main);
    font-size: 14px;

    &.accent {
      font-size: 10px;
    }
  }

  .sub-row {
    font-family: var(--ion-font-sub-heading);
    font-size: 10px;
    color: rgb(198, 198, 198);
    line-height: 18px;
  }

  .completed {
    color: rgb(15, 255, 0);
  }
}

.info-wrapper {
  width: 100%;
}

.transaction-item {
  .info-wrapper {
    width: 100%;

    .item-main-info {
      .item-start {
        .item-name {
          margin-left: 1px;
        }
      }

      .item-end {
        display: flex;
        flex-direction: column;
        font-family: var(--ion-font-sub-heading);

        .amount {
          display: flex;
          align-items: center;
          .main-row {
            font-family: var(--ion-font-sub-heading);
            &.accent {
              font-family: var(--ion-font-main);
              font-size: 10px;
              margin-left: 8px;
            }
          }
        }

        .status {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          ion-icon {
            font-size: 18px;
            margin-left: 5px;
          }

          &.pending {
            color: #ff0;

            .three-dots {
              display: flex;
              margin-left: 5px;
              align-items: center;

              .dot {
                display: inline-block;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                width: 3px;
                height: 3px;
                background-color: #ff0;

                & + .dot {
                  margin-left: 3px;
                }
              }
            }
          }
        }
      }
    }

    .sub-info {
      padding-left: 31px;
      margin-top: 8px;
      font-family: var(--ion-font-sub-heading);
      color: #c6c6c6;

      .fee-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        ion-label {
          font-family: var(--ion-font-sub-heading);
        }
      }

      .info-row {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;

        ion-label {
          font-family: var(--ion-font-sub-heading);
        }

        ion-text {
          overflow-wrap: break-word;
          word-wrap: break-word;
          hyphens: none;
          max-width: 250px;
          margin-left: 6px;
        }
      }
    }
  }
}

.ta-end {
  text-align: end;
}

.status-text {
  text-transform: uppercase;
  &.confirmed {
    color: var(--ion-color-secondary);
  }
  &.pending {
    color: var(--ion-color-warning);
  }
}

.light {
  .status-text {
    &.confirmed {
      color: var(--ion-color-secondary);
    }

    &.pending {
      color: var(--ion-color-warning-shade);
    }
  }
  ion-item {
    --color: rgb(0, 0, 0);
  }
  .list-item {
    background-color: #fff;
  }
  .transaction-item {
    .info-wrapper {
      .sub-row {
        color: rgb(144, 144, 144);
      }
      .item-main-info {
        .item-end {
          .status {
            &.pending {
              color: var(--ion-color-warning-shade);
              .three-dots {
                .dot {
                  background-color: var(--ion-color-warning-shade);
                }
              }
            }
          }
        }
      }
    }
  }
  .info-wrapper .item-main-info,
  .item-main-info {
    .sub-row {
      color: rgb(144, 144, 144);
    }
    .item-end {
      svg {
        fill: rgb(51, 51, 51);
      }
    }
  }
}
