.info-wrapper .item-main-info,
.item-main-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .item-start {
    display: flex;
    flex: 1;
    align-items: center;
    .item-name {
      margin-left: 8px;
    }
    img {
      height: 24px;
      margin-right: 10px;
      width: 24px;
    }
  }
  .item-end {
    display: flex;
    align-items: flex-end;
    .first-col {
      text-align: right;
      margin-right: 8px;
      .main-row {
        font-family: var(--ion-font-sub);
        line-height: 1;
      }
    }
    .second-col {
      display: flex;
      flex-direction: column;
    }
  }
  .main-row {
    font-family: var(--ion-font-main);
    font-size: var(--ion-font-size-main);
    &.accent {
      font-size: var(--ion-font-size-sub);
    }
  }
  .sub-row {
    font-family: var(--ion-font-sub-heading);
    font-size: var(--ion-font-size-sub);
    color: var(--ion-color-tertiary);
    line-height: 18px;
  }
  .completed {
    color: var(--ion-color-secondary);
  }
}

.transaction-item {
  .info-wrapper {
    width: 100%;
    .item-main-info {
      .item-start {
        .item-name {
          margin-left: 1px;
        }
      }
      .item-end {
        display: flex;
        flex-direction: column;
        font-family: var(--ion-font-sub-heading);
        .amount {
          display: flex;
          align-items: center;
          .main-row {
            font-family: var(--ion-font-sub-heading);
            &.accent {
              font-family: var(--ion-font-sub);
              font-size: var(--ion-font-size-sub);
              margin-left: 8px;
            }
          }
        }
        .status {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          ion-icon {
            font-size: var(--ion-font-size-main);
            margin-left: 5px;
          }
          &.pending {
            color: var(--ion-color-warning);
            .three-dots {
              display: flex;
              margin-left: 5px;
              align-items: center;
              .dot {
                display: inline-block;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                width: 3px;
                height: 3px;
                background-color: var(--ion-color-warning);
                & + .dot {
                  margin-left: 3px;
                }
              }
            }
          }
        }
      }
    }

    .sub-info {
      padding-left: 31px;
      margin-top: 8px;
      font-family: var(--ion-font-sub-heading);
      color: var(--ion-color-step-750);
      .fee-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        ion-label {
          font-family: var(--ion-font-sub-heading);
        }
      }
      .info-row {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
        ion-label {
          font-family: var(--ion-font-sub-heading);
        }
        ion-text {
          overflow-wrap: break-word;
          word-wrap: break-word;
          hyphens: none;
          max-width: 250px;
          margin-left: 6px;
        }
      }
    }
  }
}

.ta-end {
  text-align: end;
}

.status-text {
  text-transform: uppercase;
  &.confirmed {
    color: var(--ion-color-secondary);
  }
  &.pending {
    color: var(--ion-color-warning);
  }
}
