@import '../../theme/variables';

$breakpoint-small-device: 700px;

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.sub-button {
  --background: none;
  --border: 0;
  border: 0;
  height: auto;
  margin-top: 22px;
}

@media (max-height: $breakpoint-small-device) {
  .main-button {
    height: 48px;
    width: 140px;
  }
}

@media (min-height: $breakpoint-small-device) {
  .main-button {
    height: 56px;
    width: 260px;
  }
}

.main-button {
  --background: rgba(15, 255, 0, 0.12);
  --padding-top: 21px;
  --padding-bottom: 21px;
  --padding-start: 21px;
  --padding-end: 21px;
  border: 2px solid var(--ion-color-success);
  color: var(--ion-color-success);
  &.secondary {
    border: 2px solid #fff;
    color: #fff;
  }
  &.no-border {
    border: none;
  }
  &.button-disabled {
    --background: transparent;
    border: 2px solid var(--ion-color-step-300);
    color: var(--ion-color-step-300);
  }
}

ion-button {
  border-radius: 35px;
  --border-radius: 35px;
  font-size: 14px;
  position: relative;
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --background-hover-opacity: 1;
  text-transform: uppercase;
}

.button-gradient {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.light {
  .main-button {
    border-color: $green-color;
    color: $green-color;
  }
}
