.main-button {
  --background: rgba(15, 255, 0, 0.12);
  --box-shadow: none;
  --padding-top: 21px;
  --padding-bottom: 21px;
  --padding-start: 21px;
  --padding-end: 21px;
  border: 2px solid var(--ion-color-secondary);
  color: var(--ion-color-secondary);
  height: 60px;
  &.secondary {
    border: 2px solid #fff;
    color: #fff;
  }
  &.no-border {
    border: none;
  }
  &.button-disabled {
    --background: transparent;
    border: 2px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
  }
}

.sub-button {
  --background: none;
  --border: 0;
  --box-shadow: none;
  border: 0;
  height: 35px;
  margin-top: 15px;
}

.light {
  .main-button {
    border-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary);
  }
}
