@import "../variables.scss";

ion-modal.modal-small {
  .modal-wrapper {
    height: 375px !important;
    background: rgb(51, 51, 51);
  }

  .modal-shadow {
    z-index: -1 !important;
  }
}

.search-content {
  --padding-start: 0;
  --padding-end: 0;
  --overflow: auto;
  ion-item {
    background: transparent;
    display: flex;
    justify-content: space-between;
    &:hover {
      background: rgba(216, 216, 216, 0.1);
    }
  }
  .search-item-name {
    font-family: "DMSans";
    font-size: 14px;
    display: flex;
    flex: 1;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }
  .search-item-amount {
    display: flex;
  }
}

.search-bar {
  border-bottom: 1px solid  rgba(198, 198, 198, 0.3);
  width: 100%;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  fill: rgb(198, 198, 198);
  input {
    background: transparent;
    outline: none;
    border: 0;
    width: 100%;
    color: rgb(198, 198, 198);
    margin-left: 8px;
    font-family: $main-font;
  }
}
