@import "../../theme/variables";

.pin-wrapper {
  --background: none;
  background: none;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  input {
    opacity: 0;
    position: absolute;
    z-index: -20;
  }
  ion-label {
    margin: 0;
    display: flex !important;
    justify-content: center;
    width: 100%;
    .pin-input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 39px;
      height: 40px;
      border-bottom: 2px solid rgb(100, 100, 100);
      font-size: 30px;
    }

    .pin-input.active {
      border-bottom: 2px solid #fff;
    }

    .pin-input.error {
      border-color: $error-color;
      color: $error-color;
    }

    .pin-input + .pin-input {
      margin-left: 17px;
    }
  }
}