#withdrawal {
  .scan-btn {
    --box-shadow: none;
  }
  .address-input {
    display: flex;
    ion-input {
      flex: 90%;
      overflow-x: scroll;
    }
    ion-button {
      flex: 10%;
    }
  }
}
