.withdrawal {
    .exchange-coin-container {
      margin-bottom: 24px;
    }
    
    .buttons {
      margin-top: 48px;
    }
  .scan-btn {
    --background: transparent;
    .button-native {
      padding: 0;
    }
  }
}

.modal-big.withdrawal {
  .buttons {
    margin-top: 46px;
  }
}

.align-center {
  display: flex;
  justify-content: center;
}
.cancel-button {
  --background: transparent;
}