ion-list-header {
  ion-row {
    width: 100%;
  }
  ion-icon {
    font-size: 1.75rem;
  }
}

.asset-container {
  display: flex;
  width: 100%;
  .asset-details {
    flex: 1;
    align-items: center;
    display: flex;
    img {
      height: 24px;
      margin-right: 10px;
      width: 24px;
    }
  }
  .amount-container {
    .amount-token {
      font-family: var(--ion-font-sub);
      font-size: var(--ion-font-size-main);
      .ticker {
        font-size: var(--ion-font-size-sub);
      }
    }
    .amount-fiat {
      font-family: var(--ion-font-sub-heading);
      font-size: var(--ion-font-size-sub);
      color: var(--ion-color-tertiary);
    }
  }
}
