ion-list-header {
  ion-row {
    width: 100%;
  }
  ion-icon {
    font-size: 1.75rem;
  }
}

//.diagram {
//  margin-top: 20px;
//  margin-top: env(safe-area-inset-top);
//  position: absolute;
//  top: 58pt;
//  left: 50%;
//  transform: translateX(-50%);
//}

ion-refresher {
  z-index: 1;
}
