.withdrawal-details {
  --overflow: auto;
  .header-info {
    margin-top: 47px;
    margin-bottom: 59px;
    img {
      height: 48px;
      width: 48px;
      margin-bottom: 9px;
    }
  }
  .buttons {
    margin-top: 10px;
  }
  .item-col {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .divider {
    border-top: 1px solid rgb(102, 102, 102);
    margin-top: 12px;
    padding-top: 8px;
  }
  .address-row {
    max-width: 70%;
    word-break: break-word;
  }
}

.light {
  .withdrawal-details {
    ion-item {
      --background: #fff;
    }
  }
}

.item-start {
  margin-right: 2%;
}

.custom-skeleton {
  width: 100px;
}
