#trade-history {
	.status {
		font-family: var(--ion-font-sub-heading);
		font-size: var(--ion-font-size-sub);
	}
	
	.sub-info {
		font-family: var(--ion-font-sub-heading);
		font-size: var(--ion-font-size-sub);
	}
	
	.item-main-info {
		align-items: end;
		
		.swap-images {
			flex: 10px;
		}
		
		.item-start {
			flex: 40%;
			margin-right: 3px;
		}
		
		.item-end {
			flex: 40%;
			
			.amount {
				.main-row {
					font-size: var(--ion-font-size-main);
				}
				
				.main-row.accent {
					font-size: var(--ion-font-size-sub);
				}
			}
		}
	}
	
	
	.list-item {
		&.pending {
			background-color: rgba(255, 220, 0, 0.15);
		}
		
		&.open {
			background-color: #444;
		}
		
		.swap-images {
			margin-right: 4px;
			img {
				width: 16px;
				height: 16px;
			}
			
			img:nth-child(2) {
				position: absolute;
				left: 6px;
				top: 0;
			}
		}
		
	}
	
	.no-swaps {
		height: 100%;
		text-align: center;
		padding: 20%;
	}
}
