ion-button.coin-action-button {
  background: var(--ion-color-secondary-transparent);
  border-radius: 10px;
  color: var(--ion-color-secondary);
  height: 85px;
  padding: 0;
  margin: 0;
  font-family: var(--ion-font-heading);
  font-size: 0.9rem;

  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    img {
      margin-bottom: 7px;
      width: 27px;

      &:nth-child(2) {
        rotate: 180deg;
      }
    }
  }

  &:nth-child(1) {
    margin-right: 10px !important;
  }

  &:nth-child(3) {
    margin-left: 10px !important;
  }
}

.operations {
  .header-info {
    img {
      width: 48px;
      height: 48px;
      margin-bottom: 14px;
    }

    .info-amount {
      font-family: var(--ion-font-sub);
      font-size: var(--ion-font-size-xl);

      span {
        font-family: var(--ion-font-sub);
        font-size: var(--ion-font-size-main);
        margin-left: 10px;
      }
    }

    .info-amount-converted {
      font-family: var(--ion-font-sub-heading);
      font-size: var(--ion-font-size-sub);
      color: var(--ion-color-tertiary);
    }
  }

  .list-item {
    &.pending {
      background-color: rgba(255, 220, 0, 0.15);
    }

    &.open {
      font-size: 10px;

      .sub-info {
        display: block;
      }
    }

    .item-main-info .item-start {
      align-items: end;
      img {
        margin-top: 5px;
      }
    }

    .sub-info {
      display: none;
    }
  }
}
